<!-- <b *ngIf="puzzle?.puzzle as equation"
  >{{ equation.term1 }} {{ equation.operator }} {{ equation.term2 }} =
  {{ equation.result }}</b
> -->
<div class="container">
  <div class="canvas">
    <ng-container *ngIf="puzzle">
      <img
        [src]="pictures.MatchStickPicture"
        *ngFor="let matchId of matchStickPositions"
        class="match-stick"
        matchStick
        [id]="matchId.id"
        [class]="'item-' + matchId.id"
        draggable="true"
      />

      <img
        [src]="pictures.MatchStickPicture"
        *ngFor="let id of equalsMatchsticks"
        matchStick
        class="match-stick"
        [id]="id"
        [class]="'item-' + id"
      />
    </ng-container>
  </div>
</div>
