@function f-map($func, $list, $args...) {
  $new-list: ();
  @each $item in $list {
    $new-list: append($new-list, call(get-function($func), $item, $args...));
  }
  @return $new-list;
}

@function concat-lists($lists...) {
  $result: ();
  @each $list in $lists {
    @each $el in $list {
      $result: append($result, $el);
    }
  }
  @return $result;
}
