@import "./functions.scss";

$matchsticks-width: 6;
$matchstick-length: 46;

$single-number: (
  (0, 0, 1, 0),
  (0, 0, 0, 1),
  (0, 1, 1, 1),
  (1, 0, 1, 1),
  (0, 1, 0, 2),
  (0, 2, 1, 2),
  (1, 1, 1, 2)
);

$operator-abs: ((0, 1, 1, 1), (0.5, 0.5, 0.5, 1.5));

$equals-abs: ((0, 0.75, 1, 0.75), (0, 1.25, 1, 1.25));

@function add-x-offset($coordinates, $offset) {
  @return (
    nth($coordinates, 1) + $offset,
    nth($coordinates, 2),
    nth($coordinates, 3) + $offset,
    nth($coordinates, 4)
  );
}

@function add-x-offset-3($coordinates) {
  @return (add-x-offset($coordinates, 3));
}

@function add-x-offset-6($coordinates) {
  @return (add-x-offset($coordinates, 6));
}

@function add-x-offset-1-5($coordinates) {
  @return (add-x-offset($coordinates, 1.5));
}

@function add-x-offset-4-5($coordinates) {
  @return (add-x-offset($coordinates, 4.5));
}

$term-1: $single-number;
$term-2: call(get-function(f-map), add-x-offset-3, $single-number);
$result: call(get-function(f-map), add-x-offset-6, $single-number);
$operator: call(get-function(f-map), add-x-offset-1-5, $operator-abs);
$equals: call(get-function(f-map), add-x-offset-4-5, $equals-abs);

$matchsticks: concat-lists($term-1, $operator, $term-2, $result, $equals);

$cell-width: 50;

$offset: 2;

@for $i from 1 through length($matchsticks) {
  $el: nth($matchsticks, $i);

  $x1: nth($el, 1);
  $y1: nth($el, 2);
  $x2: nth($el, 3);

  $is-horizontal: $x1 != $x2;

  $offset-x: if($is-horizontal, $offset, -1 * $offset);
  $offset-y: if($is-horizontal, -1 * $offset, $offset);

  .item-#{$i} {
    left: #{$x1 * $cell-width + $offset-x}em;
    top: #{$y1 * $cell-width + $offset-y}em;

    @if $is-horizontal {
      transform: rotate(90deg) translateX(-20em) translateY(-21.5em);
    }
  }
}

$ms-shadow: rgba(0, 0, 0, 0.2);

.match-stick {
  height: #{$matchstick-length}em;
  width: #{$matchsticks-width}em;
  display: block;
  position: absolute;
  border-radius: 3em;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, $ms-shadow 100%);
  box-shadow: 5px 5px 5px $ms-shadow;
}

.removed {
  left: 100%;
  top: 25%;
}
