@import "./coords.scss";

.container {
  padding: 5em 0;
  position: relative;
  font-size: 0.15vw;
  width: fit-content;
}

.canvas {
  position: relative;
  margin: 20em;
  height: 104em;
  width: 404em;
}

.bg-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}

.animate {
  transition: 0.6s all ease-in-out;
  z-index: 10;
}
